header h1{
    text-align: center;
    font-size: 80px;
    margin: 20px;
    padding: 20px; 
    border: 2px dashed #000;
    border-radius: 75%; 
    background-color: white;
}

nav {
    background-image: url(divhetter.png) ;
}
